@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}
body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background-color: rgba(9, 5, 15, 0.741);
  /* padding: 3rem; */
}

 .fa-brands {
  font-size: 1.6rem;
  /* border: 1px solid red; */
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.205);
  color: white;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid red; */
  overflow: scroll;
  overflow-x: hidden;
  padding: 3rem;
  max-width: 1440px;
  margin: auto;
  gap: 3rem;
    scroll-behavior: smooth !important;
}

/* line container */

.line-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -3rem;
  z-index: -1;
  /* background-color: b; */
}
.line {
  border-right: 0.5px solid rgba(255, 255, 255, 0.048);
  height: 100%;
  width: 30%;
  position: relative;
  bottom: 0;
  rotate: 30deg;
}

/* making animation for blinking lines */

.line:nth-child(1),
.line:nth-child(9),
.line:nth-child(17),
.line:nth-child(25) {
  /* add some delay to repate the animation */
  animation: blink 1s ease-in-out 20s infinite alternate;
}
.line:nth-child(2),
.line:nth-child(10),
.line:nth-child(18) {
  animation: blink 1s ease-in-out 0.2s infinite alternate;
}
.line:nth-child(3),
.line:nth-child(11),
.line:nth-child(19) {
  animation: blink 1s ease-in-out 0.4s infinite alternate;
}
.line:nth-child(4),
.line:nth-child(12),
.line:nth-child(20) {
  animation: blink 1s ease-in-out 0.6s infinite alternate;
}
.line:nth-child(5),
.line:nth-child(13),
.line:nth-child(21) {
  animation: blink 1s ease-in-out 0.8s infinite alternate;
}
.line:nth-child(6),
.line:nth-child(14),
.line:nth-child(22) {
  animation: blink 1s ease-in-out 1s infinite alternate;
}
.line:nth-child(7),
.line:nth-child(15),
.line:nth-child(23) {
  animation: blink 1s ease-in-out 2s infinite alternate;
}
.line:nth-child(8),
.line:nth-child(16),
.line:nth-child(24) {
  animation: blink 1s ease-in-out 1.4s infinite alternate;
}

/* linking animation */
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Header */
.header {
  height: 20vh;
  width: 100vw;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  font-weight: 100;
  font-size: 1.5rem;
  font-weight: 700;
}
.header h1 span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.233);
}
.nav {
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.nav a {
  color: rgba(255, 255, 255, 0.233);
  cursor: pointer;
}

/* About section */
.about {
  /* border: 1px solid red; */
  /* height: 40vh; */
  width: 100%;
  display: flex;
  gap: 2rem;
}

.about .left-section-container {
  display: flex;
  flex-grow: 3;
  background-color: rgba(15, 15, 15, 0.466);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  padding: 3rem;
  border: 1px solid #6c5f5f75;

}

.animate-image {
  animation: rotateCardHelloBackground 100s linear infinite;
  height: 1010px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1010px;
  z-index: 1;
}

@keyframes rotateCardHelloBackground {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.about .left-section-container .left-section {
  /* border: 1px solid orange; */
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.about .left-section-container .left-section h1 {
  font-size: 1.5rem;
}

.about .left-section-container .left-section p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.233);
}
.about .left-section p {
  flex-wrap: wrap;
  word-wrap: break-word;
}
.about .middle-section {
  font-size: 3.6rem;
  letter-spacing: -1px;
  line-height: 65px;
}
.about .last-section {
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.616);
}

.about .left-right-section {
  gap: 1rem;
  align-self: center;
}




/* Right section */
.about .right-section {
  flex-grow: 5;
  background-color: #ffd951;
  border-radius: 3rem;
  height: 350px;
  position: relative;
  overflow: hidden;
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.right-section img {
  width: 300px;
  position: relative;
  top: 5.2rem;
  animation: moveUpDown 3s ease-in-out infinite alternate;
}

/* move image up dowm little bit */
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Layer animation */
.right-section-layers {
  width: 150%;
  height: 100%;
  position: absolute;
  border-radius: 52%;
}
.layer-1 {
  background: #e8e6e69c;
  top: 74%;
}

.layer-2 {
  background: #fdfdfd6c;
  top: 58%;
}
.layer-3 {
  background: #fdfdfd34;
  top: 38%;
}
.layer-4 {
  background: #fdfdfd17;
  top: 18%;
}

.right-section .icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.507);
  font-size: 0.5rem;
}
.right-section .icon:nth-of-type(1) {
  top: 1rem;
  left: 2rem;
  animation: blink 1s ease-in-out 1.4s infinite alternate;
}

.right-section .icon:nth-of-type(2) {
  top: 3rem;
  left: 6rem;
  animation: blink 1s ease-in-out 1.6s infinite alternate;
}
.right-section .icon:nth-of-type(3) {
  top: 5rem;
  left: 2rem;
  animation: blink 1s ease-in-out 1.2s infinite alternate;
}
.right-section .icon:nth-of-type(4) {
  top: 10rem;
  left: 4rem;
  animation: blink 1s ease-in-out 1.8s infinite alternate;
}
.right-section .icon:nth-of-type(5) {
  top: 14rem;
  left: 2rem;
  animation: blink 1s ease-in-out 2s infinite alternate;
}
.right-section .icon:nth-of-type(6) {
  top: 2rem;
  left: 10rem;
  animation: blink 1s ease-in-out 0.8s infinite alternate;
}
.right-section .icon:nth-of-type(7) {
  top: 7rem;
  left: 8rem;
  animation: blink 1s ease-in-out 1s infinite alternate;
}
.right-section .icon:nth-of-type(8) {
  top: 3rem;
  left: 15rem;
  animation: blink 1s ease-in-out 1.4s infinite alternate;
}
.right-section .icon:nth-of-type(9) {
  top: 7rem;
  left: 13rem;
  animation: blink 1s ease-in-out 1.6s infinite alternate;
}
.right-section .icon:nth-of-type(10) {
  top: 3rem;
  left: 18rem;
  animation: blink 1s ease-in-out 1.2s infinite alternate;
}

.right-section .icon:nth-of-type(11) {
  top: 5rem;
  left: 18rem;
  animation: blink 1s ease-in-out 1.8s infinite alternate;
}
.right-section .icon:nth-of-type(12) {
  top: 9rem;
  left: 16rem;
  animation: blink 1s ease-in-out 2s infinite alternate;
}
.right-section .icon:nth-of-type(13) {
  top: 10rem;
  left: 20rem;
  animation: blink 1s ease-in-out 0.8s infinite alternate;
}
.right-section .icon:nth-of-type(14) {
  top: 14rem;
  left: 20rem;
  animation: blink 1s ease-in-out 1s infinite alternate;
}
.right-section .icon:nth-of-type(14) {
  top: 15rem;
  left: 20rem;
  animation: blink 1s ease-in-out 1.4s infinite alternate;
}
.right-section .icon:nth-of-type(15) {
  top: 15rem;
  left: 18rem;
  animation: blink 1s ease-in-out 1.6s infinite alternate;
}

/* project */

.projects-container {
  display: grid;
  /* auto fill upto 2 and after that only one */
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.project {
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  /* width: 500px; */
  /* border: 1px solid rgba(255, 255, 255, 0.507); */
  padding: 2rem;
  gap: 1rem;
  border-radius: 3rem;
  color: rgb(17, 5, 5);
  background: rgb(61, 65, 78);
  background: radial-gradient(circle, rgb(61, 65, 78) 0%, rgb(14, 18, 24) 100%);
  box-shadow: 0px 0px 17px 0px #2b2b2d5c;
  border: 1px solid #6c5f5f75;
}

.project h3 {
  font-size: 1.6rem;
  color: white;
}
.project p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.521);
  margin-top: 0.9rem;
  font-weight: 300;
}
.project div {
  width: 100%;
}
.project div img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.project-links-container {
  gap: 1rem;
}
.project-links-container a {
  cursor: pointer;
  z-index: 9999;
}
.project-link {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.534);
  background-color: transparent !important;
  /* cursor: pointer; */
}

/* skills and contact */

.skills-and-contact {
  /* padding: 2rem; */
  display: grid;
  grid-template-columns: minmax(850px, 1fr) minmax(200px, 1fr);
  gap: 2rem;
  width: 100%;

  /* border: 1px solid red; */
}


/* skills */

.background-image-div {
  /* Set the background image using a URL */
  background-image: url('./assets/skills-section-bg.png');

  /* Optional: Set the size of the background image */
  background-size: cover;  /* Cover the entire area of the div */
  
  /* Optional: Set the position of the background image */
  background-position: center;  /* Center the background image */

  /* Optional: Ensure the background image does not repeat */
  background-repeat: no-repeat;

  /* Set the dimensions of the div (example dimensions) */
  width: 500px;
  height: 300px;
}
.skill-section{
  display: grid;
  /* auto fill upto 2 and after that only one */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: 1px solid #6c5f5f75;
  border-radius: 3rem;
  min-height: 250px;
}
.skill-left-section {
flex-direction: column;
align-items: flex-start;
/* gap: 1rem; */
}
.btn{
  margin-top: 1.5rem;
  /* col; */
}
.btn:hover{
  border-color: transparent;
}
.btn:focus, .btn:focus-visible {
    outline: none;
}
.skill-left-section h6{
  font-size: 1.3rem;
}
.skill-left-section p{
 font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.521);
  margin-top: 0.9rem;
  font-weight: 300;
}
.skill-right-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.skill-icon {
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 4px inset;
  border-radius: 50%;
  overflow: hidden;
}

.skill-icon::after {
  position: absolute;
  content: "";
  background-image: conic-gradient(#db1010 100deg, transparent 180deg);
  height: 100%;
  width: 140%;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: border-rotate 2s linear infinite;
}
.skill-icon::before {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  border-radius: 50%;
  content: "JS";
  height: 90%;
  width: 90%;
  background-color: #ecf0f3;
  box-shadow: 0px 0px 4px #093299;
  text-align: center;
  z-index: 2;
}

.skill-icon:nth-child(2)::before {
  content: "React";
  animation-delay: 0.4s;
}
.skill-icon:nth-child(3)::before {
  content: "Tailwind";
  animation-delay: 0.7s;
}
.skill-icon:nth-child(4)::before {
  content: "TS";
  font-size: 1.6rem;
  animation-delay: 0.8s;
}
.skill-icon:nth-child(5)::before {
  content: "Git";
}
.skill-icon:nth-child(6)::before {
  content: "Scss";
  animation-delay: 0.1s;
}

@keyframes border-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
  }
}

.contact-section{
  flex-direction: column;
  background: linear-gradient(311.97deg, #ffa51f 0%, #e93f0c 100%);
  /* border: 1px solid red; */
  border-radius: 3rem;
  overflow: hidden;
  padding: 1rem 1rem 0rem 1rem;
  position: relative;
}

.contact-section img{
  width: 300px;
  height: 300px;
  position: relative;
  top: 2rem;
  animation: moveUpDown 3s ease-in-out infinite alternate;
}

.contact-section p{
  font-size: 1rem;
  text-align: center;
}
.contact-section .contact-links{
  position: absolute;
  display: block;
}

.contact-section .contact-links:nth-of-type(1){
  top: 9rem;
  left: 18rem;
  animation: moveUpDown 5s ease-in-out infinite alternate;
}

.contact-section .contact-links:nth-of-type(2){
  top: 7rem;
  left: 2rem;
  animation: moveUpDown 3s ease-in-out infinite alternate;
}


.contact-section .contact-links:nth-of-type(3){
  top: 16rem;
  left: 2rem;

  animation: moveUpDown 6s ease-in-out infinite alternate;
}


@media (max-width: 700px) {
  .skills-and-contact {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .skill-left-section {
    align-items: center;
    text-align: center;
  }
  .projects-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}